<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.CodeMapper">

	<select id="CodeList" resultType="com.recruit.domain.CodeVO">
		select id, career,
		tid from tblcode where tid = #{tid};
	</select>
</mapper>  