<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.csfaqMapper">

	<select id="create">
		insert into project.tblfaq (title, content)
		values
		(#{title}, #{content})
	</select>

	<select id="read" resultType="com.recruit.domain.CsfaqVO">
		select
		bno, title, content
		from
		project.tblfaq
		where bno = #{bno}
	</select>

	<update id="update">
		update project.tblfaq set
		title = #{title}, content =
		#{content}
		where bno = #{bno}
	</update>

	<delete id="delete">
		delete from project.tblfaq where bno = #{bno}
	</delete>

	<select id="listAll" resultType="com.recruit.domain.CsfaqVO">
	<![CDATA[
	select
		bno, title
	from
		project.tblfaq
	order by bno desc
	]]>
	</select>


</mapper>