<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.PApplyMapper">
	<!-- 여기 매퍼 4개 다 소연 사용함 -->
	<insert id="createAPOne">
	  <![CDATA[
	  insert 
	  into tblapply (rsno, rcno, pid, record)
	  values(#{rsno}, #{rcno}, #{pid}, 1);
	  ]]>
	</insert>
	
	<select id="selectAPOne" resultType="PApplyVO">
	select rsno, rcno, pid, record
	from tblapply
	where rcno=#{rcno}
	AND pid=#{pid};
	</select>
	
	<select id="readornotAPOne" resultType="String">
	select readornot
	from tblapply
	where rcno=#{rcno}
	AND rsno=#{rsno};
	</select>
	
	<update id="CreadAPOne">
	update tblapply
	set readornot = '읽음'
	,userid = #{userid}
	where rcno=#{rcno}
	AND rsno=#{rsno};
	</update>
		
	<update id = "deleteAPOne">
	<![CDATA[
	update tblapply
	set readornot = '읽지않음'
	,record=0
	where pid=#{pid}
	and rcno=#{rcno};
	]]>
	</update>
	
	<update id = "updateAPOne"><!-- 재지원 하는 경우 이력서, 지원이력, 읽음 상태 바꿔준다. -->
	<![CDATA[
	update tblapply
	set readornot = '읽지않음'
	,record=1
	,rsno=#{rsno}
	where pid=#{pid}
	and rcno=#{rcno};
	]]>
	</update>
	
</mapper>