<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.PreferenceMapper">
	<!-- 여기 매퍼 다 소연 사용함 -->
	
	<select id="selectPREFOne" resultType="PreferenceVO">
	<![CDATA[
		select *
		from tbluser
		where id=#{id}
	]]>
	</select>
	
	<update id="updatePREFOne">
	<![CDATA[
		update 
		tbluser
		set pref_job=#{pref_job}
		, pref_region=#{pref_region}
		, pref_employstatus=#{pref_employstatus}
		, pref_levelofeducation=#{pref_levelofeducation}
		, pref_lastcareer=#{pref_lastcareer}
		where id=#{id}
	]]>
	</update>
	
	<!-- 공개된 이력서가 있으면 번호 가져오고 아니면 null -->
	<select id="selectPublicResume" resultType="Integer">
	<![CDATA[
		SELECT bno
		FROM tblresume
		WHERE EXISTS
		(SELECT bno FROM tblresume WHERE userid=#{id} and publicornot='공개')
		AND userid=#{id} and publicornot='공개';
	]]>
	</select>
	
	<!-- CRecruitMapper에서 가져옴 채용공고 하나 확인 원래꺼-->
	<select id = "selectRecomendedOne" resultType = "com.recruit.domain.CoordinateVO">
	<![CDATA[
		select bno, title, cid
		, (select jobgroup from tbljobgroup where id=rc.jobgroupid ) as v1
		, (select jobgroup from tbljobgroup where id=rc.jobgroupid2 ) as v2
		, (select rgbname from tblregion where rgbid=rc.rgbid AND rgsid=rc.rgsid ) as w1
		, (select rgsname from tblregion where rgbid=rc.rgbid AND rgsid=rc.rgsid ) as w2
		, (select career from tblcode where id=rc.employstatusid ) as x
		, (select career from tblcode where id=rc.edu ) as y
		, (select career from tblcode where id=rc.exp ) as z
		from
		tblrecruit rc
		where bno = #{bno};
	]]>
	</select>
	
		<!-- CRecruitMapper에서 가져옴 채용공고 하나 확인 하는거 수정 -->
 	<select id = "selectRecomendedOne_Modify" resultType = "com.recruit.domain.CoordinateVO">
	<![CDATA[
			select bno, title, cid
		, (select jobgroup from tbljobgroup where id=rc.jobgroupid ) as v1
		, (select jobgroup from tbljobgroup where id=rc.jobgroupid2 ) as v2
		, (select rgbname from tblregion where rgbid=rc.rgbid AND rgsid=rc.rgsid ) as w1
		, (select rgsname from tblregion where rgbid=rc.rgbid AND rgsid=rc.rgsid ) as w2
		, (select career from tblcode where id=rc.employstatusid ) as x
		, (select career from tblcode where id=rc.edu ) as y
		, (select career from tblcode where id=rc.exp ) as z
        ,(select cname from tblcinfo where id=rc.cid) as cname
		, (select periodstart from tblrecruit where bno = rc.bno) as periodstart
		, (select period from tblrecruit where bno = rc.bno) as period
		, (select count(*) from tblapply where rcno = rc.bno) as acceptmethod
		, ( select count(*) from tblinterestjob where userid=#{pid} and rcbno=#{bno}) as adddesc
    
		from
		tblrecruit rc
		where bno = #{bno};
	]]>
	</select>
	
	<!-- 공개된 이력서 하나 확인 -->
	<select id = "selectPublicResumeasCoordinateVO" resultType = "com.recruit.domain.CoordinateVO">
	<![CDATA[
		select bno, title
		, (select jobgroup from tbljobgroup where id=re.jobgroupid ) as v1
		, (select jobgroup from tbljobgroup where id=re.jobgroupid2 ) as v2
		, (select rgbname from tblregion where rgbid=re.rgbid AND rgsid=re.rgsid ) as w1
		, (select rgsname from tblregion where rgbid=re.rgbid AND rgsid=re.rgsid ) as w2
		, (select career from tblcode where id=re.employstatusid ) as x
		, (select career from tblcode where id=re.levelofeducation ) as y
		, (select career from tblcode where id=re.lastcareer ) as z
		from
		tblresume re
		where bno = #{bno};
	]]>
	</select>
	
	<!-- Coordinate 비교해서 top10 bno 리스트  버전3-->
 	<select id="selectCoordinateList" resultType="CoordinateVO">
	<![CDATA[
	select distinct rc.bno as bno, rc.cid, rc.title
	,SQRT(
	POW(((select z from tblcode where id=re.lastcareer)-(select z from tblcode where id=rc.exp))*10,2)  * (user.pref_lastcareer *20)
	+ POW(((select y from tblcode where id=re.levelofeducation)-(select y from tblcode where id=rc.edu))*10,2)  * (user.pref_levelofeducation *20)
	+ POW(((select x from tblcode where id=re.employstatusid)-(select x from tblcode where id=rc.employstatusid))*10,2)  * (user.pref_employstatus *20)
	+
    case 
    when (re.jobgroupid2=rc.jobgroupid2) then 0
	when (re.jobgroupid=rc.jobgroupid) then 1
	else 
    (POW((select v1 from tbljobgroup where id=re.jobgroupid2)-(select v1 from tbljobgroup where id=rc.jobgroupid2),2)
    +POW((select v2 from tbljobgroup where id=re.jobgroupid2)-(select v2 from tbljobgroup where id=rc.jobgroupid2),2))
    *10 * (user.pref_job *20)
	end  
    +
    case 
	when (re.rgbid=rc.rgbid AND re.rgsid=rc.rgsid) then 0
	when (re.rgbid=rc.rgbid) then 1
	else 
	(POW((select w1 from tblregion where rgbid=re.rgbid and rgsid=re.rgsid)-(select w1 from tblregion where rgbid=rc.rgbid and rgsid=rc.rgsid),2)
	+POW((select w2 from tblregion where rgbid=re.rgbid and rgsid=re.rgsid)-(select w2 from tblregion where rgbid=rc.rgbid and rgsid=rc.rgsid),2))
	*600 * (user.pref_region *20)
    end
	) as distance    
	from tblresume re, tblrecruit rc, tbluser user
	where re.bno=#{bno}
	and user.id=#{userid}
	and rc.state=1
	order by distance asc
	limit 10
	;
	]]>
	</select>

	
	<!-- Coordinate 비교해서 top10 bno 리스트  버전2-->
<!-- 	<select id="selectCoordinateList" resultType="CoordinateVO">
	<![CDATA[
		select distinct rc.bno as bno
		,SQRT(
		POW(((select z from tblcode where id=re.lastcareer)-(select z from tblcode where id=rc.exp)),2) 
        * (user.pref_lastcareer *20)
		+ POW(((select y from tblcode where id=re.levelofeducation)-(select y from tblcode where id=rc.edu)),2) 
        * (user.pref_levelofeducation *20)
		+ POW(((select x from tblcode where id=re.employstatusid)-(select x from tblcode where id=rc.employstatusid)),2) 
        * (user.pref_employstatus *20)
		) as distance
		from tblresume re, tblrecruit rc, tbluser user
		where re.bno=#{bno}
		and user.id=#{userid}
		order by distance asc
		limit 10
		;
	]]>
	</select> -->
	
	<!-- Coordinate 비교해서 top10 bno 리스트  버전1-->
<!-- 	<select id="selectCoordinateList" resultType="CoordinateVO">
	<![CDATA[
		select distinct rc.bno as bno
		,SQRT(
		POW(((select z from tblcode where id=re.lastcareer)-(select z from tblcode where id=rc.exp)),2)
		+ POW(((select y from tblcode where id=re.levelofeducation)-(select y from tblcode where id=rc.edu)),2)
		+ POW(((select x from tblcode where id=re.employstatusid)-(select x from tblcode where id=rc.employstatusid)),2)
		) as distance
		from tblresume re, tblrecruit rc
		where re.bno=#{bno}
		order by distance asc
		limit 10
		;
	]]>
	</select> -->
	
	<select id="selectCodeCoordinate_forC" resultType="CoordinateVO">
	<!-- 	select rc.bno as bno, rc.cid as cid, rc.title as title, rc.edu as edu, rc.exp as exp
		, rc.employstatusid as employstatusid
		,(select z from tblcode where id=rc.exp) as z
		,(select y from tblcode where id=rc.edu) as y
		, (select x from tblcode where id=rc.employstatusid) as x
		from tblrecruit rc
		where bno=1	; -->
	</select>
	
</mapper>