<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.PUserMapper">
	<!-- p178참고 -->
	<!-- 개인정보 확인 -->
	<select id="selectPUser" resultType="com.recruit.domain.PUserVO">
		select
		id, pname, email, birth
		from
		project.tbluser
		where id = #{id}
	</select>

	<!-- 개인정보 수정 -->
	<update id="updatePUser">
		update project.tbluser
		set
		pw = #{pw}, pname =
		#{pname}, email = #{email}, birth = #{birth}
		where id = #{id}
	</update>

	<select id="selectPUserAll" resultType="com.recruit.domain.PUserVO">
		select id, pw, pname,
		email, birth
		from project.tbluser
		where cname is null and id != 'admin'
	</select>

	<select id="selectPUsers" resultType="com.recruit.domain.PUserVO">
		select id, pw, pname,
		email, birth
		from project.tbluser
		where cname is null and id != 'admin'
		and (
		id like CONCAT('%',#{skey},'%') or pname like
		CONCAT('%',#{skey},'%')
		or email like CONCAT('%',#{skey},'%')
		or
		birth
		like if(#{skey} regexp '[^0-9]', '' , CONCAT('%',#{skey},'%'))
		)
	</select>

</mapper>