<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recruit.mapper.UserMapper">

	<insert id="create">
		insert into tbluser (id, pw, cname, pname, email, registnum, birth)
		values(#{id},#{pw}, #{cname}, #{pname}, #{email}, #{registnum}, #{birth})
	</insert>
	
	<insert id="Ccreate">
		insert into tblcinfo (id, cname)
		select #{id}, #{cname} from dual 
		where exists (select id from project.tbluser where id = #{id})
		;
	</insert>

	<!--문> 로그인 처리 -->
	<select id="login" resultType="BoardVO">

		select id, pw, pname, cname, authCode
		from
		tbluser
		where id = #{id} and pw = #{pw}
	</select>
	<!--// -->

	<select id="idoverlap" resultType="BoardVO">
	select
	id
	from
	tbluser
	where
	id = #{id}
	</select>
	
	<update id="createAuthKey">
		update tbluser set authCode = #{authCode} where email = #{email}
	</update>
	<!--// -->
	
		<!--문> 자동로그인 -->
	<update id="keepLogin">

		update tbluser
		set sessionKey = #{sessionId},
		sessionLimit = #{next}
		where id = #{id}

	</update>


	<select id="checkUserWithSessionKey" resultType="BoardVO">

		select *
		from
		tbluser
		where sessionKey = #{value} and sessionLimit > now()

	</select>
	<!--// -->

	<update id="userAuth">
		update tbluser set authCode = null where email = #{email}
	</update>
	
	<select id="pread" resultType="BoardVO">
	select id
	from tbluser
	where pname = #{pname}
	and email = #{email}
	</select>
	
	<select id="cread" resultType="BoardVO">
	select id
	from tbluser
	where cname = #{cname}
	and email = #{email}
	</select>
	
	<select id="emailoverlap" resultType="BoardVO">
	select
	email
	from
	tbluser
	where
	email = #{email}
	</select>
	
	<select id="getppw" resultType="BoardVO">
		select
		pw
		from
		tbluser
		where
		id = #{id} and email = #{email} and pname = #{pname}
	</select>
	
	<select id="getcpw" resultType="BoardVO">
		select
		pw
		from
		tbluser
		where
		id = #{id} and email = #{email} and cname = #{cname}
	</select>
	
	<update id="ppwchk">
		update tbluser set pw = #{pw} where id=#{id} and email = #{email} and pname=#{pname}
	</update>
	
	<update id="cpwchk">
		update tbluser set pw = #{pw} where id=#{id} and email = #{email} and cname=#{cname}
	</update>
	
	<select id="getPw" resultType="BoardVO">
	select
	pw
	from
	tbluser
	where
	id = #{id}
	</select>
	
	<select id="getId" resultType="String">
	select
	id
	from
	tbluser
	where
	id = #{id}
	</select>
	
	<select id="userRead" resultType="BoardVO">
		select id, pname, cname
		from
		tbluser
		where id = #{id}
	</select>
	
	<!-- 소연 알림창 jheader에서 쓰는거 -->
	<select id="countURmessage" resultType="int">
	<![CDATA[
		select count(mreadornot)
		from tblmessage
		where userid=#{id}
		and mreadornot=0
		;
	]]>
	</select>
	
		<!-- 소연 알림창 jheader에서 쓰는거 -->
	<select id="readAllmessage" resultType="MessageVO">
	<![CDATA[
		select*
		from tblmessage
		where userid=#{id}
		;
	]]>
	</select>

</mapper>